* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url("/pastel-blue-background-home-design-blue-pastel-android-iphone-hd-wallpaper-background-downloadhd-wallpapers-desktop-background-android-iphone-1080p-4k-3plkb-1080x608.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100%;
}


.main {
    display: flex;
    padding-left: 90px;
    }
.header{
    color: #eaf81f;
    text-shadow: #ee0ad3  5px 1px ;
    text-align: center;
    font-size: 50px;
}

.enrollment {
    padding: 30px;
}

.enrollment>input {
    background: none;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    padding: 7px;
    width: 50%;
}

label {
    width: 100px;
    display: inline-block;
    margin-left: 20px;
    margin: 15px;
    font-size: 20px;
    font-weight: bolder;
}

.name {
    display: flex;
}

.gender,
.skills {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

input[type=radio],
input[ type=checkbox] {
    transform: scale(1.3);

    margin-right: 10px;

    margin-left: 40px;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    outline: none;
    background: none;
    color: rgb(239, 35, 174);
    border-radius: 5px;
    border-color: 2px solid rgb(1, 0, 0);
    width: 75px;
    height: 25px;
    letter-spacing: 1px;
    margin: 10px 10px 10px 5px;
    width: 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;

}
.main {
    display: flex;
}

.left {
    width: 50%;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 80px;
  border: 5px solid rgb(0, 139, 148);
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}



.Enrolled {
    margin-top: 2rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border: 4px solid rgb(0, 139, 148);
    padding: 20px 30px;
    text-align: center;
    background: none;
}

.image>img {
    width: 120px;
    margin: 10px;
    height: 120px;
}

.title {
    font-size: 20px;
    margin: 7px;
}

.text {
    margin: 10px;
}

.btn {
    width: 400px;
    padding: 5px;
    margin-top: 40px;
}


#btn {
    width: 200px;
    height: 40px;
}